.force-directed-map-container{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.force-directed-map-content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.more-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 4em;
}

.more-details-container h3{
    font-size: 20pt;
}

.more-details-container p{
    font-size: 15pt;
}