<div class="header">
    <!-- Left side of the header -->
    <div class="header-left">
        <img src="../../assets/logos/CourseFlow-Transparent-White-Logo.png" alt="Logo" class="logo">
        <a href="coursemap_page_url" class="header-link">CourseMap</a>
        <a href="discovery_page_url" class="header-link">Discovery</a>
        <a href="analytics_page_url" class="header-link">Analytics</a>
    </div>
    
    <!-- Right side of the header -->
    <div class="header-right">
        <img src="../../assets/icons/light-dark-mode.svg" alt="Dark/Light Mode" class="icon">
        <img src="../../assets/icons/settings-icon.svg" alt="Settings" class="icon">
        <img src="../../assets/icons/blank-user.svg" alt="User" class="icon">
    </div>
</div>
