.Chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.graph-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.graph1 {
  flex: 1;
  margin-right: 20px;
}

.graph2 {
  flex: 1;
  margin-left: 20px;
}
