<div class="header-card">
    <app-header-banner></app-header-banner>
</div>

<div class="email-box">
    <img src="../../../assets/images/tick.png" class="emailpic" style="width: 200px; height: 200px;">
    <h2>Please Check your email</h2>
    <p>An email has been sent with a link to reset your password/verify your email. Click Login once you have finished.</p>
    <button class="btn btnFil" [routerLink]="['/login']">Login</button>
    <p style="margin-top: 20px; font-weight: bold; font-size: 15px;"> **Please check your spam folder if you cannot fine the email** </p>
</div>
