<mat-sidenav-container class="detailed-panel-container">

    <mat-sidenav class="detailed-panel" mode="side" [(opened)]="detailedMenuOpen">

        <div class="detailed-panel-section">

            <h2> {{currentSelectedNode.label}} </h2>
    
            <mat-divider/>

            <div class="detailed-panel-content">

                <div>
    
                    <h3>Description</h3>
        
                    <p>{{currentSelectedNode.description}}</p>
    
                </div>
    
                <div>
    
                    <h3>Prerequisites</h3>
        
                    <p></p>
    
                </div>
    
                <div>
    
                    <h3>Corequisites</h3>
        
                    <p></p>
    
                </div>
    
        
                <div>
    
                    <h3>Exclusive</h3>
        
                    <p></p>
    
                </div>
    
        
                <div>
    
                    <h3>Related</h3>
        
                    <p></p>
    
                </div>
    
            </div>

            <button mat-button (click)="closeDetailsPanel()"> Close </button>
        </div>
        
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="graph-based-map-container">

            <!-- Component will be driven by the associated TypeScript class. -->
            <div id="graphBasedMap"></div>
        
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>






