.graph-based-map-container {
    padding: 5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.graph-based-map-container button {
    padding: 1em;
    font-size: 20pt;
}

.detailed-card-panel {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.detailed-card-panel mat-card-content {
    overflow-y: scroll;
}