@import '/src/themes//themes.scss';

.header-card{
    margin-bottom: $padding10;
}
.forgotPassword-container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
        font-size: $font-size34;
        font-weight: bold;
        text-align: center;
        margin-bottom: $padding16;
    }
    .title-intro{
        font-size: $font-size24;
        font-weight: bold;
        text-align: center;
        margin-bottom: $padding16;
    }
    .title2{
        font-size: $font-size24;
        font-weight: bold;
        text-align: center;
        margin-bottom: $padding20;
    }
    .alternative{
        font-weight: 500;
        text-align: center;
        margin-top: $padding10;
        span{
            color: $primary-color;
            margin-left: $padding16;
            cursor: pointer;
        }
    }
    .or-line-divider {
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
      
        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 12%;
          height: 1px;
          background-color: #ccc;
          vertical-align: middle;
        }
      
        &::before {
          margin-right: 10px;
        }
      
        &::after {
          margin-left: 10px;
        }
      
        p {
          display: inline-block;
          background: white;
          padding: 0 5px;
          position: relative;
          top: -0px;
        }
      }
    .forgotPassword-content{
        width: 60%;
        display: flex;
        flex-direction: column;
    }
}