<div class="header-card">
    <app-header-banner></app-header-banner>
</div>

<div class="forgotPassword-container">
    <div [formGroup] = "forgotPasswordForm" class="forgotPassword-content">

        <img src="../assets/images/CourseFlow_Logo_white.png" alt="CourseFlowLogo" class="logo">
        <p class="title">Forgot Password</p>
        <p class="title2">Please Enter Your Email Address</p>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput type="text">

            <mat-error *ngif="forgotPasswordForm.controls['username'].hasError('required')">
                Username is required
            </mat-error>

            <mat-error *ngif="forgotPasswordForm.controls['username'].hasError('email')">
                Inavlid Email
            </mat-error>

        </mat-form-field>

        <p class="alternative">Already have an Account?<span [routerLink]="['/login']">Login!</span></p>
        <div class="or-line-divider">
            <p>Or</p>
        </div>
        <p class="alternative">Don't have an Account?<span [routerLink]="['/register']">Sign up!</span></p>

        <button  [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()" class="btn btnFil">Reset Password</button>

    </div>
</div>