<!-- <div class="text-based-list-container">

    <h2 class="text-based-list-title"> {{ unitData.name }}</h2>

    <button 
        class="text-based-list-back-button"
        mat-raised-button color="primary" 
        *ngIf="previousData.length !== 0" 
        (click)="onBackButtonPressed()"
    > 
        Back 
    </button>

    <div class="text-based-list-grid-container">

        <div class="text-based-list-grid-item" *ngFor="let data of unitData.children;">
            
            <mat-card>

                <mat-card-content>

                    {{data.name}}

                </mat-card-content>

                <mat-card-actions>

                    <button mat-raised-button color="primary" (click)="onViewMorePressed(data)"> View More </button>

                </mat-card-actions>

            </mat-card>

        </div>

    </div>

</div>

-->