@import 'src/themes/themes.scss';


.google-card-container{
    padding: 13px;
    display: flex;
    justify-content: center;
    position: relative;
    border: $thin-border;
    border-radius: $border-radius5;
    font-weight: bold;
    cursor: pointer;
    img{
        position: absolute;
        left: 2%;
        width: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}