<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
    <span *ngIf="isSidebarOpen">Sidebar</span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img
        class="avatar mat-elevation-z8"
        src="https://www.svgrepo.com/show/402055/letter-d.svg"
      />
  
      <h4 class="name">DEAKIN STUDENT</h4>
      <p class="designation">Bachelor of Computer Science</p>
  
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/overview">
        <mat-icon>portrait</mat-icon>
        <span>Overview</span>
      </button>
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/majorminor">
        <mat-icon>vertical_split</mat-icon>
        <span>Majors & Minors</span>
      </button>
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/edit">
        <mat-icon>edit</mat-icon>
        <span>Edit Coursemap</span>
      </button>
  
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/notifications">
        <mat-icon>notifications</mat-icon>
        <span>Notifications</span>
      </button>
      <button mat-button class="menu-button" routerLink="/coursemap_page_url/courseupdates">
        <mat-icon>announcement</mat-icon>
        <span>Course Updates</span>
      </button>
    </mat-sidenav>
  </mat-sidenav-container>
  