<mat-sidenav-container class="discovery-container">

    <!-- Side nav bar -->
    <mat-sidenav class="discovery-page-sidenav" mode="side" opened>

        <h3 class="discovery-sidenav-title">Discovery Display Settings</h3>

        <section class="discovery-sidenav-section">

            <!-- Selection settings -->
            <mat-accordion multi="true">
                
                <!-- Group units by -->
                <mat-expansion-panel expanded="true">
                    
                    <mat-expansion-panel-header>
                        
                        <mat-panel-title class="discovery-section-title"> Group Units By </mat-panel-title>
    
                    </mat-expansion-panel-header>
                    
                    <!-- Radio buttons for selecting type of unit clustering/groups -->
                    <mat-radio-group class="discovery-selection-radio-group" [(ngModel)]="groupBySelection">

                        <mat-radio-button value="faculty">Faculty</mat-radio-button>
                        <mat-radio-button value="related-units">Related Units</mat-radio-button>

                    </mat-radio-group>

                </mat-expansion-panel>

                <!--Change display type -->
                <mat-expansion-panel expanded="true">
    
                    <mat-expansion-panel-header>
                        
                        <mat-panel-title class="discovery-section-title"> Display Type </mat-panel-title>
    
                    </mat-expansion-panel-header>
                    
                    <!-- Radio buttons for selecting display type -->
                    <mat-radio-group class="discovery-selection-radio-group" [(ngModel)]="groupBySelection">

                        <mat-radio-button value="faculty">Node Based Graph</mat-radio-button>
                        <mat-radio-button value="related-units">Text Based Lists</mat-radio-button>

                    </mat-radio-group>

                </mat-expansion-panel>

            </mat-accordion>

        </section>


    </mat-sidenav>

    <!-- Discovery content -->
    <mat-sidenav-content class="discovery-page-content">

        <app-discovery-graph-based-map/>

    </mat-sidenav-content>

</mat-sidenav-container>

