<div class="discovery-page-container">
    
    <mat-sidenav-container>

        <mat-sidenav mode="side" opened class="discovery-page-navigation-sidenav">

            <div class="discovery-page-navigation">
                <h3>Menu</h3>
                <button mat-raised-button color="primary" (click)="mapType = 'force-directed'">Force Directed Map</button>
            </div>

        </mat-sidenav>

        <mat-sidenav-content class="discovery-page-content">

            <div [ngSwitch]="mapType">

                <div *ngSwitchCase="'force-directed'">
                    <h3>Discovery Force Directed Map</h3>
                    <app-discovery-force-directed-map/>
                </div>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>

