.discovery-page-container {
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.discovery-page-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.discovery-page-container h3 {
    font-size: 20pt;
}

.discovery-page-navigation-sidenav{
    padding: 2em;
    text-align: center;
}

.discovery-page-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}