<div class="discovery-page-container">
    <h2>Discovery Page</h2>

    <div class="discovery-page-navigation">
        <button  (click)="mapType = 'force-directed'">Force Directed Map</button>
        <button  (click)="mapType = 'cluster'">Cluster Map</button>
    </div>

    <div [ngSwitch]="mapType">
        <div *ngSwitchCase="'force-directed'">
            <h3>Discovery Force Directed Map</h3>
            <app-discovery-force-directed-map/>
        </div>
        <div *ngSwitchCase="'cluster'">
            <h3>Discovery Cluster Map</h3>
            <app-discovery-cluster-map/>
        </div>
    </div>
</div>

